@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');



.attendance-cell {
    height: 20px; /* Adjust the height as needed */
    line-height: 20px; /* Ensure text is vertically centered */
    text-align: center; /* Center the text horizontally */
  }

  .custom-dropdown-item {
    width: 200px;
  }

  /* src/index.css */
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  /* letter-spacing: -0.5px; */
}
